* {
  font-size: 12pt;
  font-weight: bold;
  border-radius: 8px;
  transition-property: opacity, background-color;
  transition-duration: 0.5s;
  background-color: transparent;
  opacity: 0.97;
}

window>box {
  margin: 5px 5px 0px 5px;
  border: none;
}

*:hover {
  opacity: 1.0;
}

/* Workspaces */

#workspaces button {
  background-color: @base00;
  padding: 2px 6px 2px 6px;
  margin-right: 4px;
  color: @base07;
}

#workspaces button.active {
  background-color: @base05;
  color: @base00;
  opacity: 1.0;
}

#workspaces button.urgent {
  color: @base00;
  background-color: @base08;
  font-weight: bolder;
  opacity: 1.0;
}

/* Elements */
#window {
  background-color: @base00;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
}

#custom-playerctl {
  background-color: @base00;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
}

#cava {
  background-color: @base00;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
  font-family: "bargraph";
  font-size: 22px;
}

#custom-playerctl-left {
  background-color: @base00;
  border-radius: 4px 4px 4px 16px;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
}

#custom-playerctl-right {
  background-color: @base00;
  border-radius: 4px 4px 16px 4px;
  padding: 2px 12px 2px 8px;
  margin-right: 4px;
}

#launcher {
  background-color: @base00;
  padding: 2px 8px 2px 4px;
  margin-right: 4px;
}

#user {
  font-size: 10pt;
}

#custom-launcher {
  background-color: @base00;
  padding: 0px 3px 0px 6px;
  margin-right: 4px;
  color: @base0D;
  font-size: 14pt;
}

#custom-power {
  background-color: @base00;
  padding: 0px 2px 0px 8px;
  margin-right: 4px;
  color: @base0E;
  font-size: 14pt;
  border-radius: 4px 16px 4px 16px;
}

#temperature,
#mpd,
#pulseaudio,
#battery,
#language,
#clock,
#tray {
  background-color: @base00;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
  border-radius: 4px 16px 4px 16px;
}

#network {
  background-color: @base00;
  padding: 2px 8px 2px 10px;
  margin-right: 4px;
  border-radius: 4px 16px 4px 16px;
}

#idle_inhibitor {
  background-color: @base00;
  padding: 2px 7px 2px 8px;
  margin-right: 4px;
  border-radius: 4px 16px 4px 16px;
}

tooltip {
  background: @base00;
}
