* {
  font-size: 12pt;
  font-weight: bold;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent;
  color: @base07;
}

window>box {
  margin: 5px 5px 0px 5px;
  border: none;
}

/* Workspaces */

#workspaces button {
  background-color: @base00;
  padding: 2px 6px 2px 6px;
  margin-right: 4px;
  border: 2px solid transparent;
}

#workspaces button.active {
  background-color: @base01;
  border: 2px solid @base05;
}

#workspaces button.urgent {
  color: @base00;
  background-color: @base08;
  font-weight: bolder;
}

/* Elements */

#window {
  background-color: @base00;
  border: 2px solid @base05;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
}

#custom-launcher {
  background-color: @base00;
  border: 2px solid @base05;
  padding: 0px 2px 0px 5px;
  margin-right: 4px;
  color: @base0D;
  font-size: 14pt;
}

#custom-playerctl {
  background-color: @base00;
  border: 2px solid @base05;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
}

#temperature,
#mpd,
#pulseaudio,
#network,
#battery,
#language,
#clock,
#tray {
  background-color: @base00;
  border: 2px solid @base05;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
  border-radius: 4px 16px 4px 16px;
}

#idle_inhibitor {
  background-color: @base00;
  border: 2px solid @base05;
  padding: 2px 7px 2px 8px;
  margin-right: 4px;
  border-radius: 4px 16px 4px 16px;
}

tooltip {
  background: alpha(@base00, 0.9);
  /* Lavender in catpuccin, replace with @secondary */
  border: 3px solid @base07;
}
