@define-color base00 #09040F;
@define-color base01 #110a19;
@define-color base02 #1a1426;
@define-color base03 #28223A;
@define-color base04 #ABA9C6;
@define-color base05 #DADBED;
@define-color base06 #EFF4FC;
@define-color base07 #FCFDFE;
@define-color base08 #EA647D;
@define-color base09 #EA8A52;
@define-color base0A #EAC952;
@define-color base0B #87CE5F;
@define-color base0C #75C9EA;
@define-color base0D #668DE2;
@define-color base0E #A483E2;
@define-color base0F #D483E2;

:root {
  --border-color: @base0E;
  --border-color-active: @base0F;
  --bg-color: @base00;
  --bg-color-hover: @base03;
  --bg-color-active: @base03;
  --index-border-color: @base0E;
  --border-radius: 8px;
  --border-size: 3px;
}

.client {
  border: none;
}

.client_active {
  background-color: var(--bg-color-active);
}

.index {
  border: none;
  background-color: transparent;
  padding: 4px 4px;
}
