:root {
  --border-color: @base0E;
  --border-color-active: @base0F;
  --bg-color: @base00;
  --bg-color-hover: @base03;
  --bg-color-active: @base03;
  --index-border-color: @base0E;
  --border-radius: 8px;
  --border-size: 3px;
}

.client {
  border: none;
}

.client_active {
  background-color: var(--bg-color-active);
}

.index {
  border: none;
  background-color: transparent;
  padding: 4px 4px;
}
